@{
    ViewBag.Title = "Home Page";
}
<h1>Hello!</h1>
<form>

    Enter Text Here <br>
    <input type="text" id="textfield" /><br>
    What should pop-up on other peoples' screens.<br>
    <input type="text" id="textfieldres" /><br>

</form>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/SignalR.js?ts=@DateTime.Now.Millisecond"></script>


}